*{
    background-color: rgb(223, 233, 233);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.header {
  
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}
h1 {

    font-size: 50px;
    color: rgb(139, 35, 139);
  text-decoration: underline;
  text-decoration-color: black;
    margin-bottom: 50px;
  }



nav {
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
                 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  }



 nav ul li{
    display: inline-block;
    margin-left: 20px;
    border-style:groove;
    border-color: purple;
    padding: 3px;
    border-width: 5px;
    width: fit-content;
} 

.container {
    display:block;
    margin-bottom: 70px;
}
.section{
    display: block;
    text-align: center;
    width: fit-content;
    margin: 5px;
    padding: 10%;
  
}

h2 {
   display: block;
   margin: 5px;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #9a48aa;
    font-size: 25px;
    text-decoration: underline;
    text-shadow: 2px 0 rgb(80, 164, 170), -2px 0 rgba(146, 189, 192, 0.514), 0 2px rgb(24, 7, 29), 0 -2px #fff,
                 1px 1px rgba(33, 179, 135, 0.856), -1px -1px rgba(38, 78, 131, 0.808), 1px -1px #fff, -1px 1px rgb(28, 160, 212)
    

   }

a {
    color: black;
    text-decoration: underline;
    }
p {
    text-align: center;
    font-size: 20px;
}
.border {
    border: width 1px;
    border-style: solid;
    border-color: purple;
    padding: 1em;
    background-color: aqua;
    display: inline-block;
}


.float-left {
   display: inline-block;
   margin-top: 0%;
   border-style:groove;
   border-color: rgb(19, 202, 172);
   padding: 1px;
   border-width: 5px;
   width: fit-content;
}

.inline-line {
    margin-top: 5%;

}
.link {
    background-color: aqua;
    font-size: 20px;
    text-decoration: underline;
    color: blueviolet;
    display: inline-block;
}
.link-title {
    background-color: aqua;
    margin: 2px;
}


@media screen and (max-width: 992px) {
    .container{
      display: inline-block;
        width: 100%;
      margin: 5px;
    }
    .inline-line{
        width: 50%;
        height: 50%;
    }
       p, h2,.link,.link-title, ul{
        font-size: medium;
    }
    h1 {
        font-size: 200%;
    }
 
   
 
  }
  
  
  @media screen and (max-width: 768px) {
    .container{
      width: 75%;
    }
  
    .inline-line .float-left{
        width: 25%;
        height: 25%;
    }
    p, a, h2, .link, .link-title{
        font-size: small;
    }
    ul{
        font-size: medium;
     
    }
    

}

@media screen and (max-width: 576px) {
   

    .container {
        width: 50%;
        display: inline-block;
        text-align: center;
        margin: 1%;
    }
     h1, a{
       font-size: 55%;
       
    }
    .link, .link-title, p{
        font-size: 50%;
    }
     .inline-line, .float-left{
          width: 20%;
          height: 20%;
      }
      nav ul li {
        margin-left: 5px;
        border-width: 2px;
        padding: 1px;
      }
    h1 {
        margin-bottom: 15px;
        margin-top: 5px;
        font-size: 100%;
    }  

    h2{
  
        font-size: 65%;
       
        
      }
   
   
     
     
    }
    
  
